
.sidemenu {
  height: 100vh; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background: #1a565d;
  
  overflow-x: hidden; 
  padding-top: 60px;
  transition: 0.5s; 
}
.btnclas{
  transition: 0.5s;
}
.dashboard-nav-dropdown-item{
  padding-left:60px !important;
  display: flex !important;
  cursor: pointer;
}

.sidemenu a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #9eadae;
  display: block;
  transition: 0.3s;
}

.sidemenu a:hover {
  color: #f1f1f1;
}
.dashboard-nav-dropdown-item:hover{
  color: #f1f1f1 !important;
}

.sidemenu .cerrar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidemenu .cerrar:hover {
  cursor: pointer;
}

.btn-open {
  font-size: 20px;
  cursor: pointer;
  background: #1a565d;
  color: #ddd;
  
  padding: 10px 15px 10px 12px;
  border: none;
  transition: all 1s;
}

.btn-open:hover {
  background: rgba(26, 86, 93, .8);
}
.btn-open:focus {
  outline: none;
}
#main {
  transition: margin-left .5s;
  
}
#btn{
  background-color: #1A565D;
  width: 100%;
  height: 70px;
  display:block;
}

.container {
  margin-top:80px;
  transition: 0.5s;
}

.cerrar_sesion{
  border-top: solid rgba(0, 0, 0, 0.12) 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.border-success{
background-color: #ededed33;
border: 2px solid;
border-radius:10px;
height:160px;
}

.Chosen-select {
  width: 150px;
}
.btn:focus {
  outline: none;
}

.green{
  color: green !important;
  
}

.red{
  color: red !important;
}
.categoria_post{
  float: right;
  
  background-color: #007bff31;
  color: #007BFF;
  border-radius:4px;
  padding:5px
}
.like_dislike{
  width:180px;
  display: inline-block;
}
.ttt{
  height:20px
}
.lupa{
  width:20px;
  padding-bottom:8px;
}
.navbar-form{
  margin-left: 5%;
  padding-top: 10px;
  margin-right: auto;
  width:40%;
  opacity:1;
  height: 45px;
  transition-duration:0.4s;
  
}
.card_post{

  background: rgb(71,255,41);
  
    border-radius: 5px;
    position: relative;
    box-shadow:0px 3px 3px 0 rgba(0, 0, 0, 0.15);
    padding:3px;
  }
  .card-bodyy{
    background: rgb(242, 242, 242);
    padding: 10px;
  }
.contenedor_publicacion{
  margin-bottom:35px;
  
}

.nav>li>a.userdd {
  padding: 5px 15px
}
.userprofile {
  width: 100%;
float: left;
clear: both;
margin: 40px auto
}
.userprofile .userpic {
height: 100px;
width: 100px;
clear: both;
margin: 0 auto;
display: block;
border-radius: 100%;
box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
position: relative; 
}
.userprofile .userpic .userpicimg {
height: auto;
width: 100%;
border-radius: 100%;
}
.username {
font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #000000;
margin-top: 20px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.username+p {
color: #607d8b;
font-size: 13px;
line-height: 15px;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
}

.userprofile.small .userpic {
height: 40px;
width: 40px;
margin: 0 10px 0 0;
display: block;
border-radius: 100%;
box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
-ms-box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.15);
position: relative;
float: left;
}
.userprofile.small .textcontainer {
float: left;
max-width: 100px;
padding: 0
}
.userprofile.small .userpic .userpicimg {
min-height: 100%;
width: 100%;
border-radius: 100%;
}
.userprofile.small .username {
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #000000;
margin: 0px;
float: left;
width: 100%;
}
.userprofile.small .username+p {
color: #607d8b;
font-size: 13px;
float: left;
width: 100%;
margin: 0;
}

.countlist h3 {
margin-left: 30px;
font-weight: 400;
line-height: 28px;
}
.countlist {
text-transform: uppercase
}
.countlist li {
padding: 15px 30px 15px 0;
font-size: 14px;
text-align: left;
}
.countlist li small {
font-size: 12px;
margin: 0
}
.botones{
  display: flex;
}
.followbtn {
width: 150px;
margin-left: 15%;
}
.followbtn:hover {
  border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.7px);
    cursor: pointer;
  }
.userprofile.social {
background: url(https://i.pinimg.com/originals/ae/84/18/ae8418bc8397210c37ba7fc802dbc020.jpg) no-repeat top center;
background-size: 100%;
padding: 50px 0;
margin: 0
}
.userprofile.social .username {
color: #000000
}
.userprofile.social .username+p {
color: #000000;
opacity: 0.8
}

.member img {
width: 100%;
transition: 0.5s ease all;
}
.member:hover img {
opacity: 0.8;
transform: scale(1.2)
}

.panel-default>.panel-heading {
  color: #607D8B;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 15px;
  border-radius: 0;
  border-color: #e1eaef;
}



.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.page-header.small {
  position: relative;
  line-height: 22px;
  font-weight: 400;
  font-size: 20px;
}

.favorite i {
  color: #eb3147;
}

.btn i {
  font-size: 17px;
}

.panel {
  box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.05);
  transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  margin-bottom: 35px;
  border-radius: 0px;
  position: relative;
  border: 0;
  display: inline-block;
  width: 100%;
}

.foto_editar{
  width:30px;
}

.Creador_publicacion{
  float:right;
  cursor: pointer;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
#prueba_todo{
  background-color: #00000095;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  
}
#algoo{
  margin-top: 10%;
  width: 380px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #fff;
  position: relative;
  height: 370px;
  transition: 1s;
}
.upper{

  height: 100px;

 }

 .upper img{

  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

 }

 .user{
  position: relative;
 }

 .profile img{

  
  height: 80px;
  width: 80px;
  margin-top:2px;

 
 }

 .profile{

  position: absolute;
  top:-50px;
  left: 38%;
  height: 90px;
  width: 90px;
  border:3px solid #fff;

  border-radius: 50%;

 }

 .follow{

  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
 }

 .stats span{

  font-size: 29px;
 }
 .card-text{
  -webkit-line-clamp: 1; /* number of lines to show */

 }
 .card-title{
  -webkit-line-clamp: 1;
 }
.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 25px;
  right: -10px;
  top: -10px;
  font-size: 25px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #cfcece;
}
.me-2 {
  margin-right: .5rem!important;
}

.single_advisor_profile{
  transition:0.5s;
    border-radius: 15px;
  
}
.single_advisor_profile:hover{
  transition:0.5s;
    transform: translateY(-12px);
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.646);
    
  
}
.single_advisor_profile:hover .imagen_prueba{
  transform: scale(1.1);
  border-radius: 10px;

}
  .single_advisor_profile .advisor_thumb {
      position: relative;
      z-index: 1;
      border-radius: 15px 15px 0 0;
      margin: 0 auto;
      padding: 30px 30px 0 30px;
      background-color: #3f43fd;
      overflow: hidden;
  }
  .single_advisor_profile .advisor_thumb::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      width: 150%;
      height: 80px;
      bottom: -45px;
      left: -25%;
      content: "";
      background-color: #ffffff;
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
  }
  @media only screen and (max-width: 575px) {
      .single_advisor_profile .advisor_thumb::after {
          height: 160px;
          bottom: -90px;
      }
  }
  .single_advisor_profile .advisor_thumb .social-info {
      position: absolute;
      z-index: 1;
      width: 100%;
      bottom: 0;
      right: 30px;
      text-align: right;
  }
  .single_advisor_profile .advisor_thumb .social-info a {
      font-size: 14px;
      color: #020710;
      padding: 0 5px;
  }
  .single_advisor_profile .advisor_thumb .social-info a:hover,
  .single_advisor_profile .advisor_thumb .social-info a:focus {
      color: #3f43fd;
      
  }
  .single_advisor_profile .advisor_thumb .social-info a:last-child {
      padding-right: 0;
  }
  .single_advisor_profile .single_advisor_details_info {
      position: relative;
      z-index: 1;
      padding: 30px;
      text-align: right;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      border-radius: 0 0 15px 15px;
      background-color: #ffffff;
  }
  .single_advisor_profile .single_advisor_details_info::after {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      position: absolute;
      z-index: 1;
      width: 50px;
      height: 3px;
      background-color: #3f43fd;
      content: "";
      top: 12px;
      right: 30px;
  }
  .single_advisor_profile .single_advisor_details_info h6 {
      margin-bottom: 0.25rem;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single_advisor_profile .single_advisor_details_info h6 {
          font-size: 14px;
      }
  }
  .single_advisor_profile .single_advisor_details_info p {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 0;
      font-size: 14px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
      .single_advisor_profile .single_advisor_details_info p {
          font-size: 12px;
      }
  }
  .single_advisor_profile:hover .advisor_thumb::after,
  .single_advisor_profile:focus .advisor_thumb::after {
      background-color: #070a57;
      
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a,
  .single_advisor_profile:focus .advisor_thumb .social-info a {
      color: #ffffff;
  }
  .single_advisor_profile:hover .advisor_thumb .social-info a:hover,
  .single_advisor_profile:hover .advisor_thumb .social-info a:focus,
  .single_advisor_profile:focus .advisor_thumb .social-info a:hover,
  .single_advisor_profile:focus .advisor_thumb .social-info a:focus {
      color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info,
  .single_advisor_profile:focus .single_advisor_details_info {
      background-color: #070a57;
  }
  .single_advisor_profile:hover .single_advisor_details_info::after,
  .single_advisor_profile:focus .single_advisor_details_info::after {
      background-color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info h6,
  .single_advisor_profile:focus .single_advisor_details_info h6 {
      color: #ffffff;
  }
  .single_advisor_profile:hover .single_advisor_details_info p,
  .single_advisor_profile:focus .single_advisor_details_info p {
      color: #ffffff;
  }
  .imagen_prueba{
    border-radius: 10px;
    transition: 0.5s;
  }

  .modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  
  #foto_paisaje{
    width: 6%;
}

#foto_texto{
    width: 3.5%;
}
.textarea{
    width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;

  border: none;
  border-radius: 4px;


}
.post{
    border: 1px solid black;
    min-height: 150px;
}